### Imports

In [1]:
import json
import os
import pandas as pd

In [2]:
path_py = "../ODE-RNN/Résultats/"
path_r = "../../data/synthetic_bph_1/Résultats R script/"

## Network results

In [13]:
res_py = pd.DataFrame(columns=['Random effect', 'Model', 'nb_epochs', "MAE moyenne sur l'entrainement", "MAE moyenne sur le test", "MSE moyenne sur l'entrainement", "MSE moyenne sur le test"])
for file in os.listdir(path_py):
    if "json" in file:
        df = pd.read_json(path_py + file)
        res_py = pd.concat((res_py,df))
res_py = res_py.sort_values(by=["Random effect", "Model"])
res_py

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_6036\943012095.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  res_py = pd.concat((res_py,df))
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_6036\943012095.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  res_py = pd.concat((res_py,df))

,Random effect,Model,nb_epochs,MAE moyenne sur l'entrainement,MAE moyenne sur le test,MSE moyenne sur l'entrainement,MSE moyenne sur le test
0,False,LSTM,78530,0.227834,0.467197,NaN,NaN
0,False,RNN,12697,0.931442,2.494483,1.186109,4.049957
0,True,LSTM,54383,0.665641,0.423597,NaN,NaN
0,True,RNN,13861,0.418109,0.965822,NaN,NaN

## Results of R models

In [5]:
res_r_fixed = pd.read_csv(path_r + "Performances_moyennes_fixed.csv")
res_r_fixed

,Unnamed: 0,MAE_train_oracle,MAE_test_oracle,MSE_train_oracle,MSE_test_oracle,MAE_train_naïf,MAE_test_naïf,MSE_train_naïf,MSE_test_naïf
0,1,0.010801,0.010996,0.000214,0.000228,2.342274,2.484302,12.032165,13.715574

In [6]:
res_r_mixed = pd.read_csv(path_r + "Performances_moyennes_mixed.csv")
res_r_mixed

,Unnamed: 0,MAE_train_oracle,MAE_test_oracle,MSE_train_oracle,MSE_test_oracle,MAE_train_naïf,MAE_test_naïf,MSE_train_naïf,MSE_test_naïf
0,1,0.20097,0.200208,0.077495,0.080555,0.279428,0.282081,0.16775,0.181796